@media only screen and (max-width: 1025px) {
	
	.lyrics, .lyrics-container{
		display: none;
	}
	.track-meta{
		padding-left: 5%;
	}
	.track-controls{
		width: 60%;
	}
	
	.desktop{
		display: none;
	}
	
	.mobile{
		display: block;
		padding-bottom: 0px;
	}
	
	.mob-nav{
		display: none;
	}
	
	.mob-list{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	
	#music-sub{
		display: block;
	}
	
	.header-home{
	top:0px;
	}
	
	.mob-menu img{
		width: 16px;
		position: fixed;
		top:27px;
		right:6%;
	}
	
	
	.slipper{
		position: relative;
		top:60px;
	}
	
	.home section{
		top: 0px;
	}
	
	.mob-logo img{
		width: 400px !important;
	}	
	
	.mob-menu img{
		width: 16px !important;
		position: fixed;
		top:24px;
		right:6%;
	}
	
	div.post-container.music-video{
		width: 100%;
		margin: 0%;
	}

}

@media only screen and (max-width: 960px) {
	
	.home-container{
		width: 100vw;	
		margin-left: 0px !important;
	}
	
	.home-pillar{
		width: 100%;
		height: 300px;
	}
	
	.home-pillar h2{
		text-align: center;
		padding-top: 130px;
	}
	
	.about{
		border-right:0px solid black;
		padding-right: 150px;
	}
	
	.contact{
		padding-left: 0px;
		padding-right: 150px;
		width: 100%;
		padding-top: 80px;s
	}
	
}

@media only screen and (max-width: 800px) {

	.music-video .copy{
		width: 100%;
		float: left;
	}

	.music-video .info{
		float: left;
		width: 100%;
	}
	
	.music-video .button, .music-video .post-share{
		float: left;
		display: block;
	} 

	
	#home {
		top: 40px;
	}

	
	#body-home{
		padding-top: 0px;
	}
	
	
	.header-home{
	top:0px;
	}
	

	.post-left, .post-right{
		width: 100%;
	}
	
	.post-left{
	padding-right: 0%;
	padding-left: 0%;
	margin-right: 0%;
	margin-bottom: 30px;		
	}

	.post-right{
		padding-right: 5%;
	}
	
	.single #main-content{
		margin-top: 60px;
	}
	
	h1.mobile-header{
		display: block;
	}
	
	h1.desktop-header{
		display: none;
	}
	
	#tracks .album-info, #tracks .album-tracks{
		width: 100%;
		margin-left: 0%;
		padding-bottom: 30px;
	}
	
	#tracks .album-info{
		padding-bottom: 10px;
	}
	
	h2{
		font-size: 22px;
	}
	
	.lyrics, .play-video{
		display: none !important;
	}
	
	.icon-pause{
		margin-right: 0px;
	}
	
	.purchase-track{
		width: 100%;
	}
	.track-meta{
		width: 30%;
	}
	.player-controls{
		width: 70%;
	}
	
	.player-controls button, .purchase-track a{
		font-size: 12px;
	}
	
	.album-slider h1{
		position: absolute;
		margin-top: 10%;
		color: white;
		width: 100%;
		left:0px;
		font-size: 40px;
		letter-spacing: 0px;
	}
	
	li.track-listing.column{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#videos .play-video{
		display: block !important;
		font-size: 12px;
	}
	
	#videos .track-listing li{
		font-size: 12px;
		padding-left: 8px;
	}
	
	#videos h2{
		padding-top:20px;
	}
	
	#web-body{
		margin-top: 60px;
	}
	
	#tracks{
		margin-top: 0px;
	}
	
	.flex-viewport{
		height: 50vh;
	}

.flex-viewport li{
		height:50vh;
	}
	
}

	


@media only screen and (max-width: 640px) {


	
	#posts .columns{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#posts .post{
		margin-bottom: 20px;
	}
	
	.post-hover{
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.post-share{
		width: 100%;
	}
	
	.small-wrapper{
		display: block;
	}
	
	.small-logo{
		width: 250px !important;
		margin-bottom: 10px;
		padding-bottom: 10px;
		position: absolute;
		z-index: 3;
		top:27px;
		left:6%;
	}
	
	.mob-logo img{
		width: 300px ;
		margin-bottom: 0px;
		float: left;
		margin-left: 15px;
	}	
	

	img.menu-small{
		width: 16px;
		position: fixed;
		top:24px;
		right:6%;
	}
	
	.mob-logo{
		display: none;
	}
	
	
	.mob-menu img{
		width: 16px;
		position: fixed;
		top:24px;
		right:6%;
	}
	
	.flex-viewport{
		height: 270px;
		min-height: 270px;
	}
	
	.flex-viewport li{
		height:270px;
		padding-bottom: 20px;	
	}
	
	.flexslider .button{
		width: 80%;
	}
	
}

