h1, h2, h3, a, p, li{
	color: black;
	letter-spacing: 0px;
	font-family: 'Brandon-Grotesque', sans-serif;	
} 

ul{
	margin-left: 0px;
	list-style: none;
}

li{
	list-style: none;
}

p, a{
	font-size: 15px;
}

a:hover{
	color: #666;
}

h1, h2, h3{
	font-family: 'Brandon-Grotesque';
	font-weight: 600;
}

.post-right a{
	font-family: 'Brandon-Grotesque';	
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 13px;
}

h1 {
	padding-bottom: 40px;
	font-style: normal;
 	font-size: 46px;
 	margin-bottom: 0px;
 	letter-spacing: 2px;
}


h2{

}

.home-pillar h2{
	text-align: center;
}

h3{
	font-size: 15px;
}

nav a, .logo a{
	padding-right: 20px;
	font-size: 15px;
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.info p{
	font-size: 20px;
	font-style: italic;
	line-height: 23px;
}

.info-right p{
	font-size: 15px;
}

.copy p{
	font-size: 15px;
	line-height: 23px;
}

.caption{
	font-style: italic;
}

h1.mobile-header{
		display: none;
	}
	
h1.desktop-header{
		display: block;
		padding-bottom: 10px;
	}
	
.date{
	font-style: italic;
}

div.two-thirds p{
	padding-bottom: 5px;
}