/*
 Theme Name:   Knomad Child
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Knomad Child Theme
 Author:       Harrison Burt
 Author URI:   http://knomad.co.nz
 Template:     Knomad
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  knomad
*/

@import url("../knomad/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */


body {
	font-family: "Brandon-Grotesque",sans-serif;
	color:black;
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
  }
  
  ul, li{
	font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

ul li ul{
	margin-left: 0px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 5px;
}



/* `Basic HTML
----------------------------------------------------------------------------------------------------*/


pre,
code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

hr {
  clear: both;
  margin-top: 50px;
}

img {
	border:0;
}

.clear:after {
   content: " "; /* Older browser do not support empty content */
   display: block;
   height: 0;
   clear: both;
}

.row{
	margin-left:0px !important;
	margin-right: 0px !important;
}


.menu-small, .mobile-menu{
	display: none;
}



/* `Headings
----------------------------------------------------------------------------------------------------*/

.background-images{
	background:  no-repeat center center fixed; 
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	top:0;
	left: 0;
	bottom:0;
	right:0;
	position: fixed;
	z-index: -1;
	margin-top: 90px;
}

header{
	background: white;
	position: relative;
	margin: 0 auto;
	z-index: 999;
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	padding: 10px 0px;
	width: 100%;
	padding-top: 20px;
	background-color: #58595b;
	height:60px;
}


nav{
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	margin: 0 auto;
	padding:0px;
}

.left-menu{
	position: absolute;
	left:5%;
}

.right-menu{
	position: absolute;
	right:5%;
}


.logo{
	width: 550px;
	max-width: 550px;
	text-align: center;
	position: absolute;
	left:50%;
	margin-left: -275px;
	top:20px;
}

.logo img{
	width:150px;
	margin-top: -1px;
}

img.social{
	width: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#main-content{
	margin-top: 120px;
	overflow: hidden;
	padding: 0 5%;
}


.main-post img{
	z-index: 1;
}

.main-post:hover .video-preview{
	opacity:1;
}

.image-placeholder{
	height: 300px;
	width: 100%;
	background-color: #58595b;
}

.dark{
	background-color: #666;
}

.short{
	height:150px;
}

.caption{
	margin-bottom: 40px;
}

.about{
	border-right:0.5px solid black;
	padding-right: 150px;
}

.contact{
	padding-left: 7%;
	padding-right: 150px;
}

body.home{
	background-color: #58595b;
}

.home-container{
	margin-top: -120px;
	width: 110vw;
}

.info{
	display: none;
	margin: 0 auto;
	text-align: center;
}

.home-pillar{
	width: 20%;
	height: 100vh;
	background: #666;
	background-color: rgba(0,0,0,0.8);
	float: left;
	position: relative;
}

.home-pillar:hover{
	opacity: 0.6;
}


.home-pillar:hover .info{
	display: block;
}

.home-pillar h2{
	text-align: center;
	padding-top: 60%;
	color: #e1e1e1;
}

.home-pillar p{
	color: #e1e1e1;
	font-size: 18px !important;
}

.home-pillar:hover .info{
	width: 100%;
	padding: 0 5%;
	position: absolute;
	bottom:110px;
}

.one, .two, .three, .four, .five{
	display: none;
}

.creature:hover + .one{
	display: block;
}


/* `Video
----------------------------------------------------------------------------------------------------*/

#home-video{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 999;
	min-width: 1200px; 
	min-height: 100%;
}

#home-logo{
	position:fixed;
	z-index: 9999;
	width: 100%;
}

#home-logo img{
	max-width: 300px;
	left:50%;
	position: fixed;
	margin-left: -150px;
	top:50%;
	margin-top: -71.5px;
}

.video-preview{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	line-height: 0;
	width: 100%;
}

video{
	width: 100%;
}

.details{
	padding-top: 20px;
}

#cross{
	width: 20px;
	float: left;
	margin: -2px 10px 0px 2px;
}


.open{
	padding-bottom: 20px;
	cursor: pointer;
	margin-top: -3px;
	border-bottom: 1px solid #999;
	
}

.display{
	display: none;

		border-bottom: 1px solid #999;
	padding: 40px 0;
	margin: 20px 0;
	margin-bottom: 40px;
}

line.vert{
    stroke-width:1.5px;
}

.project-nav{
	margin-top: 20px;
}


/* `Template
----------------------------------------------------------------------------------------------------*/

.post-right{
	padding: 0 5%;
}

.info{
	width: 50%;
	float: left;
	padding-bottom: 45px;
}

.info-right{
	text-align: right;
}

.copy{
	width:100%;
	padding-right: 140px;
}

.copy img{
	margin-bottom: 60px;
	margin-top: 20px;
}

p.credits{
	width: 50%:
}


/* `Contact
----------------------------------------------------------------------------------------------------*/

.page-id-11 .copy p{
	padding-bottom: 30px;
}

ul.post-categories{
	list-style: none;
	margin-left: 0px;
}

li{
	margin-left: 0px;
}



/* `Basic Structure
----------------------------------------------------------------------------------------------------*/


.container{
	padding: 40px 10%;
}

.third{
	width: 33.333%;
	/*margin: 0 1.63%;*/
	float: left;
	position: relative;
}

.two-thirds{
	width: 66.666%;
	/*margin: 0 1.63%;*/
	float: left;
	position: relative;
}

.quarter{
	width: 25%;
	float: left;

}

.three-quarters{
	width: 75%;
	float: left;	
	padding: 40px 0;
}

.half{
	width: 50%;
	float: left;
}


img.close{
	position:absolute;
	top:30px;
	right:30px;
	width: 30px;
}


/* `Classez
----------------------------------------------------------------------------------------------------*/


.row{
	max-width: none;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


	
/* Button Reset
----------------------------------------------------------------------------------------------------*/


button{
	border-style: none;
	border-width: 0px;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	position: relative;
	text-decoration: none;
	text-align: left;
	display: inline-block;
	background-color:transparent;
	border-color: transparent;
	color: black;
	-webkit-transition: color 300ms ease-out;
	-moz-transition: color 300ms ease-out;
	transition: color 300ms ease-out;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	font-size: inherit;
}

button:hover, button:focus{
	background-color: transparent;
	text-decoration: underline;
	color: black;
	cursor: pointer;	
}



/* `Footer
----------------------------------------------------------------------------------------------------*/	

#instafeed img{
	width: 25%;
	float: left;
}

footer{
	background-color: white;
	color: #ccc;
	text-align: left;
	position: relative;
	margin: 0 5%;
	margin-top: 200px;
	margin-bottom: 20px;
	padding-bottom: 60px;
	
}

footer p, footer a{
	padding-bottom: 10px;
	font-size: 13px;
	color: #58595b;
}

.footer-content{
	padding-top: 40px;
}

p.copyright{
	color: #666;
	padding-top: 25px;
	padding-bottom: 10px;
	font-size: 10px;
}

.title-section{
	text-align: center;
	float: left;
	background: white url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/back-heading.png') center center repeat-x;
	width: 100%;
	text-align: center;
	margin:0px;	
	position: relative;
	padding: 0px 0px;
}

.title-section p{
	display: inline-block;
	background-color: white;
	padding: 0 10px;
}

img.ft-logo{
	position: absolute;
	left:0px;
	bottom: 15px;
	width: 120px;
}

.knomad{
	font-family: 'Source Code Pro', sans-serif;
	position: absolute;
	color: #666;
	right:0px;
	bottom: 15px;
	font-size: 12px;
}

.knomad:hover{
	color: aqua;
}


/* `Spacing
----------------------------------------------------------------------------------------------------*/


.button{
	background-color: white;
	border: 1px solid #58595b;
	color: #58595b;
	padding:10px 50px;
	padding-top: 12px;
	margin-top: 30px;
}

.button:hover,
.button:focus,
.button:active{
	color: white;
	background-color: #58595b;
	border-bottom-color: 0;
	
}

.post-right a{
	background-color: white;
	border: 1px solid #58595b;
	color: #58595b;
	padding:10px 50px;
	padding-top: 12px;
	margin-top: 30px;
}

.post-right a:hover,
.post-right a:focus,
.post-right a:active{
	color: white;
	background-color: #58595b;
	border-bottom-color: 0;
	
}


.flexslider .button{
	position: relative;
	top:50%;
	z-index: 999;
}



form.wpcf7-form{
	padding-top:40px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	width:100%;
	float:left;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-appearance: none;
	background-color: #ffffff;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

input[type="submit"]{
	background-color: transparent;
	color: black;
	padding:10px;
	font-family: "Brandon-Grotesque",sans-serif;
	text-transform: uppercase;
	padding-top: 12px;
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 600;
	margin: 0px;
	width: 50%;
	background-color: white;
	border: 0.5px solid #58595b;
	color: #58595b;
	margin-top: 10px;
	letter-spacing: 2px;
}
input[type="submit"]:hover{
	background-color: #58595b;
	color: white;
	cursor: pointer;
}


/*
.slider_holder{
}

ul.slider{
  float:left;
  background:transparent;
  position:relative;
  width:100%;
  overflow:hidden;
  list-style:none;
  white-space:nowrap;
}
ul.slider li{
  vertical-align:top;
  display:inline-block;
  *display: inline;/*IE7*
  zoom:1;
  width:100%;
  white-space: normal;
}



.prv, .nxt{
   position:relative;
   cursor:pointer;
   background:transparent;
   float:left;
   padding:5px;
}
*/

html, body {
    height: 100%;
    margin: 0;
    overflow-x:hidden;
    position:relative;
}

.post-left{
	overflow:hidden;
}

.wrapper {
    height: 100%;
    background: #263729;
}
.scrilla {
    float:left;
    min-height: 100%;
    /*padding-top: 30px;*/
}

a.selected{
    color: red;
}

.flex-direction-nav a.flex-next, .flex-direction-nav a.flex-prev {
	display: none;
}

.featured{
	position: relative;
}

.nav-title{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: 0 auto;
	text-align: center;
	margin-top: 43%;

}

.project-nav .featured{
	opacity: 0.6;
}

.project-nav .nav-title{
	visibility: visible;
}

.project-nav:hover .featured{
	opacity: 1;
}

.project-nav:hover .nav-title{
	visibility: hidden;
}